__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

*.egg-info/
*.egg
pip-wheel-metadata/

build/
dist/
downloads/
parts/
sdist/
var/
wheelhouse/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

*.log
outputs/
cache/

.pytest_cache/

node_modules/

*.swp
